*, img{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

img, .anuncio{
    pointer-events:none;
}


#app-view{
    margin-bottom: 50px;
}

.anuncio{
    border-bottom: 5px solid rgb(149, 82, 81);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 80px;
}

.anuncio h1{
    margin-top: 0px;
}

.anuncio img{
    width: 100%;
    max-height: 640px;
}

.anuncio div{
    font-size: 18px;
    clear: both;
}

.anuncio span{
    font-size: 16px;
    float: right;
    margin-bottom: 40px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
}

footer div{
    margin-top: 10px;
    float: left;
    width: calc(33% - 2px);
    text-align: center;
}

footer div:active{
    background-color: rgba(0,0,0,0.15);
}

footer div:nth-child(2){
  border-left: 2px solid;
  border-right: 2px solid;
  color: rgba(0,0,0,0.3);
}

footer div img{
    max-height: 60px;
}