<h1>Loja > Cadastro</h1>

<div class="push-20 grid-60 DemoGrid" >
    <tabset type="pills" justified="true" >
       <tab>
           <tab-heading>
             <i class="fa fa-users"></i> Dados
           </tab-heading>
           <table id="cliCadastro1" class="cadastro">
               <tr>
                    <td>Nome Fantasia*</td> <td><input type='text' size="60" ng-model="Cliente.cliente.nome" class="form-control" /></td>
               </tr>
               <tr>
                    <td>Login</td> <td><input type='text' size="60" ng-model="Cliente.cliente.nome" class="form-control" /></td>
               </tr>
               <tr>
                    <td>Senha</td> <td><input type='text' size="60" ng-model="Cliente.cliente.nome" class="form-control" /></td>
               </tr>
           </table>
       </tab>
    </tabset>

<h1>Unidades</h1>

    <tabset type="pills" justified="true" class="loja-unidade" >
       <tab>
           <tab-heading>
               <i class="glyphicon glyphicon-home"></i> Endere&ccedil;o
           </tab-heading>
           <table id="cliCadastro3" class="cadastro">
               <tr>
                   <td>Logradouro*</td>
                   <td>

                     <ui-select id="selectLogradouro" ng-model="Cliente.cliente.endereco.tipoLogradouro" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 100%;">
                      <ui-select-match placeholder="Tipo Logradouro">{{$select.selected.Value}}</ui-select-match>
                      <ui-select-choices repeat="tipo in tipoLogradouro | filter: $select.search">
                        <div id="selectLogradouroOptions" ng-bind-html="tipo.Value | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>

                   </td>
                   <td colspan='2'><input type='text' style="width:100%;" ng-model="Cliente.cliente.endereco.logradouro" tooltip="{{Cliente.cliente.endereco.tipoLogradouro.Value}}" tooltip-trigger="focus" tooltip-placement="right" class="form-control" /></td>
               </tr>
               <tr>
                   <td>N&uacute;mero*</td>
                   <td><input type='text' ng-model="Cliente.cliente.endereco.numero" class="form-control" /> </td>
                   <td>Complemento</td>
                   <td><input type='text' style="width:100%;" ng-model="Cliente.cliente.endereco.complemento" class="form-control" /></td>
               </tr>
               <tr>
                   <td>Zona</td>
                   <td><input type='radio' ng-model='Cliente.cliente.endereco.zona' value='urbana' />Urbana <input type='radio' ng-model='Cliente.cliente.endereco.zona' value='rural' />Rural</td>
                   <td>CEP</td>
                   <td><input type='text' ng-model="Cliente.cliente.endereco.cep" class="form-control" /></td>
               </tr>
               <tr>
                   <td>Bairro*</td>
                   <td colspan='3'><input type='text' ng-model='Cliente.cliente.endereco.bairro' class="form-control" /></td>
               </tr>
               <tr>
                   <td>Estado*</td>
                   <td>

                     <ui-select id="selectEstado" ng-model="Cliente.cliente.endereco.estado" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 100%;">
                      <ui-select-match placeholder="Estado">{{$select.selected.Value}}</ui-select-match>
                      <ui-select-choices repeat="estado in estados | filter: $select.search">
                        <div id="selectEstadoOptions" ng-bind-html="estado.Value | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>

                   </td>
                   <td>Cidade*</td>
                   <td>

                    <ui-select id="selectCidade" ng-model="Cliente.cliente.endereco.cidade" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 100%;">
                      <ui-select-match placeholder="Cidade">{{$select.selected.Value}}</ui-select-match>
                      <ui-select-choices repeat="cidade in cidades | filter: $select.search">
                        <div id="selectCidadeOptions" ng-bind-html="cidade.Value | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>

                   </td>
               </tr>
               <tr>
                   <td>Refer&ecirc;ncia</td>
                   <td colspan="3"><textarea rows="2" style="width:100%;" ng-model="Cliente.cliente.endereco.referencia" class="form-control"></textarea></td>
               </tr>
           </table>
       </tab>
       <tab>
           <tab-heading>
             <i class="glyphicon glyphicon-earphone"></i> Contato
           </tab-heading>

                    <div class="loja-contato-header" >
                                        <div class="grid-50" ><h3>Telefones</h3></div>
                                        <div class="grid-50" ><h3>Emails</h3></div>
                    </div>
                    <div class="loja-contato-body" >
                                        <div class="grid-50" >
                                                            <div ng-repeat="tel in []" >
                                                                                {{tel.contato}}
                                                                                <button ng-click="apagarContato($index)" class="btn btn-danger btn-xs">
                                                                                       <i class="glyphicon glyphicon-remove"></i>
                                                                                   </button>
                                                            </div>       
                                                            <div>
                                                                                <input size="33" type='tel' ng-model='telefone.contato' maxlength="15" onkeydown="Utils.Mascaras.numerosTeclado();" onkeyup='this.value=Utils.Mascaras.addTel(this.value);' class="form-control" />
                                                                          
                                                                               <button ng-click="novoContato('Telefone')" id="buttonNovoTelefone" class="btn btn-success btn-xs">
                                                                                   <i class="glyphicon glyphicon-plus"></i>
                                                                               </button>
                                                            </div>
                                        </div>
                                        <div class="grid-50" >
                                                            <div ng-repeat="tel in []" >
                                                                                {{tel.contato}}
                                                                                <button ng-click="apagarContato($index)" class="btn btn-danger btn-xs">
                                                                                       <i class="glyphicon glyphicon-remove"></i>
                                                                                   </button>
                                                            </div>
                                                            <div>
                                                                                <input size="33" type='email' ng-model='telefone.contato'  class="form-control" />
                                                                          
                                                                               <button ng-click="novoContato('Telefone')" id="buttonNovoTelefone" class="btn btn-success btn-xs">
                                                                                   <i class="glyphicon glyphicon-plus"></i>
                                                                               </button>
                                                            </div>
                                        </div>
                    </div>
                    <div class="clear" ></div>

       </tab>
   </tabset>   
</div>
