<div class="grid-100" id="footer">
    <div id="copy" >&copy; 2015 Gauge - Todos os direitos reservados</div>
    <div id="social-media" >
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook-official"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-instagram"></i>
    </div>
</div>


<style>
    #footer{
        background-color: #11b2e1;
        color: #fff;
        min-height: 60px;
        padding: 25px;
    }
    #footer #social-media{
        float: right;
    }
    #footer #social-media i{
        float: right;
        margin-left: 20px;
        font-size: 25px;
        margin-top: -5px;
        cursor: pointer;
    }
    #footer #copy{
        float: left;
    }
</style>