<div class="grid-100" id="header" ng-controller="CtrlHeader" >
   
    <img ng-src="{{Logo.img()}}" id="logo" ng-class="Logo.align()" height="40" ng-click="Logo.url()" >

    <nav class="dropdown header-menu header-menu-left" ng-if="!Page.isOnEntrance()" >
		<a href id="user_icon" class="dropdown-toggle">
			<i class="fa fa-bars fa-4x"></i>
		</a>
		<ul class="dropdown-menu">
			<li onclick="location.href='#anuncios/lista'"><i class="fa fa-list"></i> Meus Anúncios</li>
			<li onclick="location.href='#anuncios/cadastro'"><i class="fa fa-plus" ></i>  Novo Anúncio</li>
		</ul>
	</nav>


	<nav class="header-right-buttons" ng-if="Page.isOnEntrance()" >
		<button ng-click="goToRegister()" >Cadastre-se</button>
		<button ng-click="Modal.open()" >Login</button>
	</nav>

	<nav class="dropdown header-right-buttons header-menu header-menu-right" ng-if="!Page.isOnEntrance()" >
		<a href id="user_icon" class="dropdown-toggle">
				<i class="fa fa-user fa-4x"></i>
		</a>
		<ul class="dropdown-menu fonte_minima" >
			<li onclick="location.href='#loja/cadastro'"><i class="fa fa-list-alt"></i> Cadastro</li>
			<li onclick="location.href='#'"><i class="fa fa-power-off"></i> Logout</li>
		</ul>
	</nav>




</div>


<div ng-include="'views/login.html'" ></div>
