<div style="text-align: center;" >
	<section class="classe1">
		<h1>Crie Promoções</h1>
		<div>
			<img src="images/loja_promocao.jpg" />
		</div>
	</section>
	<section class="classe1">
		<h1>Publique na Web</h1>
		<div>
			<img src="images/loja_publicacao.jpg" />
		</div>
	</section>
	<section class="classe1">
		<h1>Atraia Clientes</h1>
		<div>
			<img src="images/smartphone_compra.jpg" />
		</div>
	</section>
</div>


<style>
.classe1{
	background-color: #cc525d;
	color: #fff;
	width: 30%;
	margin: 30px 1%;
	padding-bottom: 70px;
	display: inline-table;
}

.classe1 img{
	width: 100%;
}
</style>