<h1>Meus An&uacute;ncios > Cadastro</h1>

<div class="anuncio-container">
    <div class="anuncio-information" >
        <div><b>Descri&ccedil;&atilde;o</b></div>
        <textarea ng-model="Anuncio.selected.obj.descricao" maxlength="255"></textarea>
        <div>
            <b>Data</b> <span><input type="date" ng-model="Anuncio.selected.obj.data"></span>
        </div>
        <div>
            <b>Vencimento</b> <span><input type="date" ng-model="Anuncio.selected.obj.vencimento"></span>
        </div>
        <div>
            <b>Categoria</b> <span><input type="text" ng-model="Anuncio.selected.obj.categoria"></span>
        </div>
    </div>
    <div class="anuncio-media" >
        <img src="images/picture_field.png" >
    </div>
    <footer>
        <button ng-click="Anuncio.save($index)" ><i class="fa fa-floppy-o" ></i> {{(Anuncio.selected.index === -1 ? 'Cadastrar' : 'Salvar')}}</button>
        <button ng-click="Anuncio.finishUpdate()"  ><i class="fa fa-times"></i> Cancelar</button>
    </footer>
    <div class="clear" ></div>
</div>