<h1>Meus An&uacute;ncios</h1>

<div class="anuncios-list" >
	<div class="anuncio-container" ng-repeat="anuncio in Anuncio.list" >
		<div class="anuncio-information" >
			<div><b>Descri&ccedil;&atilde;o</b></div>
			{{anuncio.descricao}}
			<div>
				<b>Data</b> <span>{{anuncio.dataHoraInicio | date : 'dd/MM/yyyy' }}</span>
			</div>
			<div>
				<b>Vencimento</b> <span>{{anuncio.dataHoraVencimento | date : 'dd/MM/yyyy' }}</span>
			</div>
			<div>
				<b>Categoria</b> <span>{{anuncio.categoria}}</span>
			</div>
		</div>
		<div class="anuncio-media" >
			<img src="images/picture_field.png" >
		</div>
		<footer>
			<button ng-click="Anuncio.del($index)" ><!--i class="fa fa-trash" ></i--> {{anuncio.ativo ? 'Desativar' : 'Ativar'}}</button>
			<button ng-click="Anuncio.select($index)"  ><i class="fa fa-pencil"></i> Editar</button>
		</footer>
		<div class="clear" ></div>
	</div>
</div>

