html, body, #divCorpoConteudo {
    height: 100%;
}

body > #divCorpoConteudo {
    height: auto;
    min-height: 100%;
    margin-top: 60px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#divCorpoConteudo {
    padding-bottom: 4em;
}

/************************************
               GENERAL
************************************/
button{
    background-color: #955251;
    color: #d1d2d4;
    border: 0;
}

textarea{
    width: 100%;
    resize: vertical;
}


/************************************
                LOGIN
************************************/

.login-container{
    padding: 0px 10px 20px 10px;
    height: 300px
}

.login-container h1{
    color: #721f27;
}

.login-container input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    box-sizing: border-box; 
}

.login-container a{
    float: right;
    margin-bottom: 70px;
    color: #721f27;
    font-weight: bold;
    cursor: pointer;
}

.login-container button{
    clear: right;
    float: right;
    height: 50px;
    width:  113px;
    color: #d1d2d4;
}

/************************************
                MODAL
************************************/

.modal-body button, .modal-footer button{
    height: 50px;
    width:  113px;
    color: #d1d2d4;
}