html, body, #divCorpoConteudo {
    height: 100%;
}

body > #divCorpoConteudo {
    height: auto;
    min-height: 100%;
    margin-top: 60px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#divCorpoConteudo {
    padding-bottom: 4em;
}