/*
               721f27
marsala:      #955251
               cc525d


classic blue: #1d4e89

white:        #d1d2d4
black:        #3a3a3c

*/

/************************************
                HEADER
************************************/

#header{
        background-color: #fff;
        color: #fff;
        min-height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom: 1px solid #955251;
        text-align: center;
}

#header button{
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 100px;
}

#logo{
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
}

#logo.logo-left{
	position: absolute;
	left: 10px;
}


#header .header-right-buttons{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
	padding-right: 10px;
}

#header .header-menu{
	position: absolute;
	top: 0px;
}

#header .header-menu-left{
	left: 10px;
}

#header .header-menu-right{
	right: 10px;
}

#header .header-menu ul{
	width:222px;
	font-size: 14px;
	font-weight: bold;
}

#header .header-menu-left ul{
	margin-top:10px;	
}


#header .header-menu-right ul{
	margin-left: -162px;
}



#header .header-menu li{
	padding: 10px 0;
	cursor: pointer;
	color: black;
	text-align: left;
}

/************************************
                FOOTER
************************************/

#footer{
        background-color: #955251;
        color: #fff;
        min-height: 60px;
        padding: 25px;
}

#footer #social-media{
    float: right;
}

#footer #social-media i{
    float: right;
    margin-left: 20px;
    font-size: 25px;
    margin-top: -5px;
    cursor: pointer;
}

#footer #copy{
    float: left;
}