#grafico-configuracoes{
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 101;
    cursor: pointer;
}

.graf-conf-opt {
    float: left;
    width: 160px;
    padding-top: 25px;
}

.graf-conf-opt:hover {
    background-color: rgba(0,0,0,0.2);
}

span.opt-title {
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

.graf-conf-opt:hover span.opt-title{
    text-decoration: underline;
}

.opt-options{
    width: 160px;
    margin-top: 10px;
    display: none;
}

.graf-conf-opt:hover .opt-options{
    display: block;
}

#grafico-configuracoes button, #grafico-configuracoes label.btn, #grafico-configuracoes input{
    min-height: 35px;
}

#grafico-configuracoes #opt-arquivo button, #grafico-configuracoes #opt-tipo label, #grafico-configuracoes #opt-arquivo label{
    display: block;
    min-width: 100%;
    text-align: left;
    clear: both;
    padding: 10px;
    box-sizing: border-box;
}

#opt-tamanho{
    padding-left: 15px;
    box-sizing: border-box;
}

#grafico-configuracoes .gcm-radioButton{
    width: 100%;
}


.tabela-indices{
    background-color: #2E6DA3;
    color: white;
}

#tabela-container{
    overflow: auto;
    margin-top: 10px;
    resize: both;
    height: 800px;
}